* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
	--primary-color: #2b2d23;
	--secondary-black: #21211f;
	--secondary-gray: #000000;
	--body-bg: #cecdcd;
}

/* Navv Bar Section */

.navbar {
    color: #EE4E34;
    background-color: #1cd4af

}

.navbar-brand {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 2.3rem;
    color: #EE4E34;
    background-color: #1cd4af
    
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: #7285e3;
}

.main-image{
    width: 100%;
    height: auto;

}
.title-image {
    width: 60%;
 }

 .index-title {
	font-size: clamp(2rem, 10vw, 8rem);
	text-transform: uppercase;
	font-family: 'Montserrat';
	letter-spacing: 0.2rem;
	text-align: center;
	position: relative;
    margin-top: 4rem;
	margin-bottom: 9rem;
    color: #ffffff;
   
}
.index-title::before {
	content: attr(data-outline);
	position: absolute;
	left: 2%;
	top: -20%;
	width: 100%;

	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat';
	letter-spacing: 0.2rem;

	color: transparent;
	/* -webkit-text-stroke: 1.5px rgba(0, 0, 0, 0.103); */
	-webkit-text-stroke: 1.5px #ff000031;

}

#index p{
    color: black;
    font-size: 18px;
    margin-bottom: 45px;
    letter-spacing: 1px;
    line-height: 28px;
}
 

#index h2 {
    color: #ffffff;
    font-family: 'Montserrat';
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

#index h3 {
    text-align: center;
    color: #ffffff;
    font-size: 38px;
    line-height: 80px;
    font-family: 'Montserrat';
	letter-spacing: 0.2rem;
	position: relative;
    margin-top: 2rem;
	margin-bottom: 3rem;
    
}


#index bar {
    color: rgb(80, 79, 79);
}

#index {
    background-color: #dedada;
}

/* About Me Section */

#aboutMe {
    width: 100%;
    padding: 78px 0px;
    background-color: #cecdcd;
    
}


#career{
    background-color: #cecdcd;
}

#aboutMe img {
    height: auto;
    width: 420px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 8px;
}

.about-text {
    width: 550px;
}

.about-text p {
    text-indent: 2em;
    text-align: justify;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.img-responsive{

    display: block;
    max-width: 210%;
    height: auto;
}


.about-text h1{
    color: azure;
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: azure;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

span {
    color: #EE4E34;
}

.about-text p{
    color: black;
    font-size: 20px;
    margin-bottom: 45px;
    letter-spacing: 1px;
    line-height: 28px;
}

button {
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    color: #1abc9c;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.4s;
    margin: 0;
}

button:hover {
    background-color: transparent;
    color: rgb(255, 0, 0);
}

main.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}
.col header.title {
    color: #19aa79;
    padding: 0px 0px 20px 30px;
}

.col .contents {
    padding: 0px 30px;
    border-left: 2px solid #bababa;
    margin-bottom: 8rem;
}
 
.col .contents .box {
    position: relative;
    padding: 20px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
}

.col .contents .box:hover {
    box-shadow: 0px 3px 12px 0px rgb(23, 177, 174);
    border: 1px solid transparent;
}

.col .contents .box::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 24px);
    top: 0;
    background-color: #11a372;
    border: 2px solid white;
}

.box h4 {
    position: relative;
    color: #11a372;
}

.box h3 {
    font-size: 17px;
    padding: 10px 0px 6px;
    color: #444;
}


.box p {
    line-height: 1.2;
    color: #652;
    font-size: 15px;
}




/* My Work Section */

#my-work {
	padding: 10rem 0;
}
#my-work .item {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 800px;
	margin: 0 auto;
	margin-bottom: 15rem;
	/* gap: 2rem; */
}

img {
	width: 125%;
	height: 100%;
}

#my-work .container {
	width: 90%;
	margin: 0 auto;
	max-width: 1000px;
}

#my-work .item:nth-of-type(even) {
	flex-direction: row-reverse;
}
#my-work .item .left {
	flex: 2;
}
#my-work .item .right {
	margin-left: -60px;
	flex: 1;
	background-color: var(--body-bg);
	padding: 5rem 3rem;
	border-radius: 12px;
	box-shadow: 0px 0px 20px #5b8c918b;
	z-index: 2;
}
#my-work .item:nth-of-type(even) .right {
	margin-left: 0;
}
#my-work .item:nth-of-type(even) .left {
	margin-left: -150px;
}
#my-work .item .left .img {
	height: 500px;
	overflow: hidden;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0px 0px 20px #05fce7fa;
	position: relative;
}
#my-work .item .left .img::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #a3add038;
}
#my-work .item .left .img img {
	object-fit: cover;
	transition: 0.3s ease transform;
}
#my-work .item:hover .left .img img {
	transform: scale(1.1);
	z-index: 1;
}
#my-work .item .right .project-title {
	font-size: 2.5rem;
	font-family: 'Montserrat';
	margin-bottom: 1rem;
    color: white;
}
#my-work .item .right .project-sub-title {
	font-size: 1.6rem;
	margin-bottom: 2rem;
    color: white;
}
#my-work .item .right .project-desc {
	color: var(--secondary-gray);
	margin-bottom: 3rem;
}
#my-work .item .right .external-link {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: calc(0.6em - 4px) calc(1.6em - 4px);
}

.section-heading {
	font-size: clamp(2rem, 10vw, 8rem);
	text-transform: uppercase;
	font-family: 'Montserrat';
	letter-spacing: 0.2rem;
	text-align: center;
	position: relative;
	margin-bottom: 10rem;
}
.section-heading::before {
	content: attr(data-outline);
	position: absolute;
	left: 2%;
	top: -20%;
	width: 100%;

	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat';
	letter-spacing: 0.2rem;

	color: transparent;
	/* -webkit-text-stroke: 1.5px rgba(0, 0, 0, 0.103); */
	-webkit-text-stroke: 1.5px #0bef7d3d;
	z-index: -1;
}



/* Footer Section */

#footer {
    padding: 6% 15%;
    text-align: center;
    background-color: #19b898;
}

.social-icon {
    margin: 20px 10px;
    color:  #FCEDDA;
}

#footer p {
    color: azure;
}

/* Media Query Section */


@media(max-width: 768px){
    main.row {
        grid-template-columns: 1fr;
    }
    .row .col:nth-child(2){
        margin-top: 30px;
    }
}

@media (max-width: 768px){
     #aboutMe img{
        display: none !important;
    }
}

@media (min-width: 768px){
    .title-image{
       display: none !important;
   }
}


@media only screen and (max-width: 768px) {
	#my-work .item {
		flex-direction: column;
	}
	#my-work .item .left {
		width: 100%;
	}
	#my-work .item .right {
		margin-left: 0;
		width: 90%;
		margin-top: -150px;
	}
	#my-work .item:nth-of-type(even) {
		flex-direction: column;
	}
	#my-work .item:nth-of-type(even) .left {
		margin-left: 0;
	}
}
@media only screen and (max-width: 450px) {
	#my-work .item .right .buttons {
		flex-direction: column;
	}
	#my-work .item .right .buttons a {
		width: 100%;
		text-align: center;
	}
}

@media only screen and (max-width: 675px) {
    #index h3 {
        text-align: center;
        color: #ffffff;
        font-size: 29px;
        line-height: 80px;
        font-family: 'Montserrat';
        letter-spacing: 0.1rem;
        position: relative;
        margin-top: 3rem;
        margin-bottom: 6rem;
        
    }
    
}
